@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Support is provided by</strong><br />
    ReBuildAll Solutions Ltd<br />
    <a href="http://www.rebuildall.fi/en">www.rebuildall.fi</a>
</address>

<address>
    <strong>Project home:</strong>   <a href="https://github.com/ReBuildAll/scarf">GitHub</a><br />
</address>

<hr/>
<p>
    <em>This page does no Scarf logging. At all.</em>
</p>