@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Scarf</h1>
    <p class="lead">Scarf is a free framework for security audit, access and action logging, for ASP.NET</p>
    <p><a href="https://github.com/ReBuildAll/scarf" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            By browsing around this page, so are already generating all sorts of information that gets logged into
            the Scarf log. Try registering, logging in and out to see what kind of entries are generated.
        </p>
        <p>
            This is the default MVC 5 application template, with some texts changed and Scarf attributes added.
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Scarf for you</h2>
        <p>Scarf can be installed from NuGet.</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Open Source</h2>
        <p>Scarf is free and open source. Get the source now.</p>
        <p><a class="btn btn-default" href="https://github.com/ReBuildAll/scarf">Learn more &raquo;</a></p>
    </div>
</div>