@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Scarf</h1>
    <p class="lead">Scarf is a free framework for security audit, access and action logging, for ASP.NET</p>
    <p><a href="https://github.com/ReBuildAll/scarf" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<blockquote class="blockquote-reverse">
    <footer>scarf</footer>
    a length or square of fabric worn around the neck or head
</blockquote>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            By browsing around this page, so are already generating all sorts of information that gets logged into
            the Scarf log. Try registering, logging in and out to see what kind of entries are generated.
        </p>
        <p>
            Every page contains information about what will be logged by Scarf. You can then check out the Scarf 
            log from the top.
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Scarf for you</h2>
        <p>
            Scarf can be installed from NuGet. Please read the
            <a href="https://github.com/ReBuildAll/scarf/wiki/configuration" target="_blank">wiki on GitHub</a>
            to learn about configuration.
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Open Source</h2>
        <p>Scarf is free and open source. Scarf uses the MIT license. The source code is freely available from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/ReBuildAll/scarf">Learn more &raquo;</a></p>
    </div>
</div>

<hr />

<div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-question-sign"></span><strong> SCARF HOW-TO</strong></div>
    <div class="panel-body">
        <p>
            Every time you visit this page you get logged. This is because all accesses to this page are logged. Access logging
            is one type of logging Scarf can provide.
        </p>
        <p>
            To make a MVC Action method do access logging, you add the <code>LogAccess</code> attribute.
        </p>
        <pre>
    <strong>[LogAccess(MessageType.AccessRead, SaveAdditionalInfo = false)]</strong>
    public ActionResult Index()
    {
        return View();
    }</pre>
    </div>
</div>
